<div class="container">
  <div class="row">
    <ul class="nav navbar">
        <li class="btn"><a routerLinkActive="active" routerLink="/create" role="button">Create User </a></li>
        <!-- <li class="btn"><a routerLinkActive="active" routerLink="/update" role="button">Update User </a></li>
        <li class="btn"><a routerLinkActive="active" routerLink="/delete" role="button">Delete User </a></li> -->
        <li class="btn"><a routerLinkActive="active" routerLink="/fetch" role="button">Fetch Users </a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>

